body {
  font-family: "Montserrat", sans-serif; /* Changed font to Montserrat */
  font-weight: bold;
  background-image: url("https://media.licdn.com/dms/image/D4D22AQFv6lqHmb3osQ/feedshare-shrink_800/0/1685964874554?e=1688601600&v=beta&t=lH3d4hmDaW-gCXG6vQ-lTEZCgKBERrL98hD8gvqaN0A");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%; /* Increased width for a more centered look */
  height: 60%; /* Increased height for better visibility */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px; /* Increased border-radius for rounded corners */
  background-color: #1c1c28;
  border: 3px solid #666; /* Increased border thickness for better contrast */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Adjusted box shadow for a subtle effect */
  padding: 10px; /* Increased padding for a more comfortable layout */
}

h1 {
  font-size: 3rem; /* Increased font size for emphasis */
  color: rgba(255, 255, 255, 0.9); /* Adjusted text color for better visibility */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Added text shadow for a subtle effect */
}

/* Button Styles */
.history-button,
.newBaseGame-button,
.ranking-button,
.newAllRobotGame-button {
  display: inline-block; /* Changed to inline-block for horizontal alignment */
  margin: 10px;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s, color 0.3s;
}

.history-button:focus,
.newBaseGame-button:focus,
.ranking-button:focus,
.newAllRobotGame-button:focus {
  outline: none; 
}
#historyMsg,
#rankingMsg {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.history-button:hover + #historyMsg{
  background-color: white; 
  color: #3498db;
  display: block;
}

.newBaseGame-button:hover{
  background-color: white;
  color: #00ffaa;
}
.newAllRobotGame-button:hover{
  background-color: white;
  color: #e74c3c;
}
.ranking-button:hover + #rankingMsg {
  background-color: white;
  color: #27ae60;
  display: block;
}

.ranking-button:hover {
  background-color: white;
  color: #27ae60;
}
.history-button:hover {
  background-color: white; 
  color: #3498db;
}
.history-button {
  background-color: #3498db; /* Changed button color */
  color: #fff;
}

.newBaseGame-button {
  background-color: #00ffaa; /* Changed button color */
  color: #fff;
}
.newAllRobotGame-button {
  background-color: #e74c3c; /* Changed button color */
  color: #fff;
}

.ranking-button {
  background-color: #27ae60; /* Changed button color */
  color: #fff;
}

/* Logout Button Styles */
.logout-container {
  position: fixed;
  top: 10px;
  right: 10px;
}

.logout-button {
  background-color: rgba(57, 57, 83, 1);
  color: #fff;
  border: rgba(57, 57, 83, 1);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 10px;
  right: 60px;
  padding: 10px;
}

.logout-button:focus {
  outline: none;
}
.logout-button:hover {
  background-color: white; 
  color: black;
}
