<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Options Page</title>
    <link rel="stylesheet" th:href="@{/t23/css/options.css}" />
    <script th:src="@{/t23/js/options.js}"></script>
</head>

<body>
    <div class="container">
        <h1>Choose an option</h1>
        <div class="logout-container">
            <button id="logoutButton" type="button" class="logout-button" th:onclick="redirectToLogin()">Logout</button>
        </div>
        <div>
            <button id="historyButton" type="button" class="history-button" th:onclick="redirectToHistory()">Match history</button>
            <div id="historyMsg">
                <h2>View the history of the games you have played</h2>
            </div>
            <button id="newGameBaseButton" type="button" class="newBaseGame-button" th:onclick="redirectToGame()">New Base Game</button>
            <button id="newGameAllRobotButton" type="button" class="newAllRobotGame-button" th:onclick="redirectToGameAllRobot()">1 vs All</button>
            <button id="rankingButton" type="button" class="ranking-button" th:onclick="redirectToRanking()">Ranking</button>
            <div id="rankingMsg">
                <h2>View the overall players' ranking</h2>
            </div>
        </div>
    </div>
</body>

</html>